@font-face {
  font-family: "Intro";
  src: url(/fonts/IntroDemoCond-BlackCAPS.otf) format("opentype");
}
@font-face {
  font-family: "RobotoSlab";
  src: url(/fonts/RobotoSlab-VariableFont_wght.ttf) format ("truetype");
}

$colorButton: #5222d0;
